<html>
	<head>
		<meta charset="UTF-8">
		<title>小水滴的词典</title>
		<link href='./v.css' type='text/css' rel='stylesheet' />
	</head>
	<body>
		<div class="page"  style="width:90%">
			<img src='./drop.gif'><br /><br /><br />
			<div id="search-box">
				<a href="./search.html"><img src='./search.svg' id="search-img"></a>
				<form method="post">
					<input type="search" name="search" placeholder="请输入要查询的内容">
				</form>
			</div>
		</div>
		<hr /><br />
		<div class="page"  style="width:90%">
			{{% if len(content) == 0 %}}
				<h2 id="warning">Please Check your input!</h2>
			{{% else %}}
				<h2>Google Translate</h2><hr />
					<div class="result"><p>{{google}}<p></div>
				<br /><hr /><hr /><br />
				<h2>Cambridge Dictionary</h2><hr />
					<div class="result">
						<p>词性：</p>
						<p>
						{{% for i in range(len(cam_dic["pos"])) %}}
							{{% i) cam_dic["pos"].get(i) %}}<br />
						{{% endfor %}}
						</p>
						<p>中文意：</p>
						<p>
						{{% for i in range(len(cam_dic["zh"])) %}}
							{{% i) cam_dic["zh"].get(i) %}}<br />
						{{% endfor %}}
						</p>
						<p>英文意：</p>
						<p>
						{{% for i in range(len(cam_dic["en"])) %}}
							{{% i) cam_dic["en"].get(i) %}}<br />
						{{% endfor %}}
						</p>
						<p>Example：</p>
						<p>
						{{% for i in range(len(cam_dic["example"])) %}}
							{{% i) cam_dic["example"].get(i) %}}<br />
						{{% endfor %}}
						<p>
					</div>
			{{% endif %}}
		</div>
	</body>
</html>