<html>
	<head>
		<meta charset="UTF-8">
		<title>小水滴的词典</title>
		<link href='./static/v.css' type='text/css' rel='stylesheet' />
	</head>
	<body bgcolor="rgb(135,206,250)">
		<div class="page"  style="width:90%">
			<img src='./static/drop.gif' id="drop"><br /><br /><br />
			<div id="search-box">
				<form method="post">
					<input type="image" src='./static/search.svg' id="search-img">
					<input type="search" name="search" placeholder="自动识别中英/英英/英中翻译，支持整段英文翻译">
				</form>
			</div>
		</div>
		<hr /><br />
		<div class="page"  style="width:90%">
			{% if code == 0 %}
				<h2 id="warning">Please Check your input!</h2>
			{% elif code == 1 %}
				<h2>Google Translate</h2><hr />
					<div class="result"><p>{{google}}</p></div>
				<br /><hr /><hr /><br />
			{% elif code == 2 %}
				<h2>Google Translate</h2><hr />
					<div class="result"><p>{{google}}</p></div>
				<br /><hr /><hr /><br />
				<h2>Cambridge Dictionary</h2><hr />
					<div class="result">
						{% for j in cam_dic[content]["pos"] %}
							<p class="title">{{ j }}</p><br />
							<p class="title">中文意：</p>
							{% for i in cam_dic[content][j]["zh"] %}
								<p>{{ i }}</p><br />
							{% endfor %}
							<p class="title">英文意：</p>
							
							{% for i in cam_dic[content][j]["en"] %}
								<p>{{ i }}</p><br />
							{% endfor %}
							
							<p class="title">Example：</p>
							{% for i in cam_dic[content][j]["example"] %}
								<p>{{ i }}</p><br />
							{% endfor %}
							<hr /><br />
						{% endfor %}
					</div>
			{% endif %}
		</div>
	</body>
</html>