<html>
	<head>
		<meta charset="UTF-8">
		<title>小水滴的词典</title>
		<link href='./static/v.css' type='text/css' rel='stylesheet' />
	</head>
	<body bgcolor="rgb(89,194,213)">
		<div class="page"  style="width:90%">
			<img src='./static/drop.gif' id="drop"><br /><br /><br />
			<div id="search-box">
				<form method="post">
					<input type="image" src='./static/search.svg' id="search-img">
					<input type="search" name="search" placeholder="自动识别中英/英英/英中翻译，支持整段英文翻译">
				</form>
			</div>
		</div>
		<hr /><br />
		<div class="page"  style="width:90%">
			<h2> ~ Result Here ~ </h2><br /><br /><hr /><br />
			<h2>Hint</h2><br />
			<p>后面将更新加入 <b><u>有道翻译、拍照翻译</u></b> 功能，并优化 <b><u>加速加载速度</u></b></p><br />
			<p>敬请期待~</p>
		</div>
	</body>
</html>